[DEFAULT]
# no quotes!
APKP_Path = /Users/srkaeppler/research/data/pygpi5_dev/pyGPI5/Models/AP_KP/
MSISLib_Path = /Users/srkaeppler/research/data/pygpi5_dev/pyGPI5/Models/nrlmsise00/libnrlmsise-00.so
Model_Path = /Users/srkaeppler/research/data/pygpi5_dev/pyGPI5/Models/